# dist file for PropertyBar
dist /extensions/AntTweakBar/AntTweakBar.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-AntTweakBar/master/AntTweakBar.dist
dist /extensions/PropertyTree/PropertyTree.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyTree/master/PropertyTree.dist

git      /extensions/PropertyBar            https://github.com/OpenEngineDK/extensions-PropertyBar.git
git-dev  /extensions/PropertyBar            git@github.com:OpenEngineDK/extensions-PropertyBar.git
